<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="0B03D843-629C-43B4-ADC5-B892D6720A3C" Name="Create Synchronicity" Language="1033" Version="3.0.0.0" Manufacturer="Create Software" UpgradeCode="E27FE26B-CB9D-478C-B949-8D50D1CE6823">
    <Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="synchronicity.cab" EmbedCab="yes" CompressionLevel="high"/>

    <UIRef Id="WixUI_InstallDir" />
    <Icon Id="IconFile" SourceFile="$(var.Create Synchronicity.ProjectDir)\create-synchronicity-icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="IconFile" />

    <Upgrade Id="E27FE26B-CB9D-478C-B949-8D50D1CE6823">
      <UpgradeVersion Minimum="0.0.0.0"
                      IncludeMinimum="yes"
                      Maximum="3.0.0.0"
                      Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="CompanyProgramsFolder" Name="Create Software">
          <Directory Id="ApplicationProgramsFolder" Name="Create Synchronicity" />
        </Directory>
      </Directory>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="Create Software">
          <Directory Id="INSTALLDIR" Name="Create Synchronicity" />
        </Directory>
      </Directory>
		</Directory>

    <ComponentGroup Id="group_CreateSynchronicity">
      <ComponentRef Id="comp_CreateSynchronicity_0" />
      <ComponentRef Id="comp_CreateSynchronicity_5" />
    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
       <Component Id="comp_CreateSynchronicity_0" DiskId="1" KeyPath="yes" Guid="6CC6BE8C-54B9-4D1B-8366-F19E301EBE1A">
        <File Id="file_CreateSynchronicity_0" Source="$(var.Create Synchronicity.TargetDir)\COPYING" />
        <File Id="file_CreateSynchronicity_1" Source="$(var.Create Synchronicity.TargetDir)\Create Synchronicity.exe" />
        <File Id="file_CreateSynchronicity_4" Source="$(var.Create Synchronicity.TargetDir)\Release notes.txt" />
      </Component>
      <Directory Id="dir_Release_languages_1" Name="languages">
        <Component Id="comp_CreateSynchronicity_5" DiskId="1" KeyPath="yes" Guid="310BEA4E-F279-4371-B11A-F1E3BCBB6C9B">
          <File Id="file_CreateSynchronicity_5" Source="$(var.Create Synchronicity.TargetDir)\languages\deutsch.lng" />
          <File Id="file_CreateSynchronicity_6" Source="$(var.Create Synchronicity.TargetDir)\languages\english.lng" />
          <File Id="file_CreateSynchronicity_7" Source="$(var.Create Synchronicity.TargetDir)\languages\francais.lng" />
          <File Id="file_CreateSynchronicity_8" Source="$(var.Create Synchronicity.TargetDir)\languages\portuguese.lng" />
          <File Id="file_CreateSynchronicity_9" Source="$(var.Create Synchronicity.TargetDir)\languages\spanish.lng" />
        </Component>
      </Directory>
    </DirectoryRef>


    <DirectoryRef Id="CompanyProgramsFolder">
      <Component Id="CompanyProgramsFolderComp" Guid="4DBD9FC6-0623-4559-AB6F-26834965761A">
        <RemoveFolder Id="CompanyProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Create Synchronicity" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
     </DirectoryRef >
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="578BA08A-B42A-4d24-A7D5-586F86BAF29E">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Create Synchronicity"
                  Description="Create Synchronicity - Backup and synchronization"
                  Target="[APPLICATIONROOTDIRECTORY]Create Synchronicity.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
         <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Create Synchronicity" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApp" Title="Create Synchronicity" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="CompanyProgramsFolderComp" />
      <ComponentRef Id="comp_CreateSynchronicity_0" />
      <ComponentRef Id="comp_CreateSynchronicity_5" />
    </Feature>
  </Product>
</Wix>
