<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Product.Generated">
      <ComponentGroupRef Id="Create_Synchronicity.Binaries" />
      <ComponentGroupRef Id="Create_Synchronicity.Content" />
      <ComponentGroupRef Id="Create_Synchronicity.Satellites" />
    </ComponentGroup>
  </Fragment>
</Wix>